<form action="__SELF__" method="post">
    <div class="form-group">
        <label for="name">请输入分类名</label>
        <input type="text" id="name" name="name" class="form-control" placeholer="分类名"<?php echo isset($name)?'value="'.$name.'"':'' ?> />
    </div>

    <div class="form-group">
        <label for="mark">请输入分类字母标识（此标识在url中出现，请使用有意义的英文或拼音）</label>
        <input type="text" id="mark" name="mark" class="form-control" placeholer="分类字母标识" <?php echo isset($mark)?'value="'.$mark.'"':'' ?> />
    </div>
    <div class="radio">
        <fieldset>
            <legend class="mylegend">选择分类显示类型</legend>
            <foreach name="status" item="vo" key="k" >
                <label class="radio-inline">
                    <input type="radio" name="status" value="{$k}"
                    <?php
                    if(isset($status_v)){
                        if($k==$status_v){
                            echo 'checked="checked"';
                        }
                    }elseif($i==1){
                        echo 'checked="checked"';
                    }
                ?> id="inlineRadio{$i++}" />
                    {$vo}
                </label>
            </foreach>
        </fieldset>

    </div>
    <button type="submit" class="btn btn-primary btn-block">添加</button>
</form>
